* {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

/* a {
  text-decoration: none;
  color: inherit; /* Use the parent element's color */
/* } */

a:hover{
  color: #7e9cce;
} */

.hidden {
  display: none;
}

.container-item {
  text-align: center;
  justify-content: center;
  align-items: center;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

@keyframes moveDown {
  0% {
    transform: translateY(-200px);
    opacity: 0%;
}


100% {
    transform: translateY(0px);
    opacity: 100%;
}
}

.animate-header {
  animation-name: moveDown;
  animation-duration: 0.5s;
  
}

.header {
  font-weight:bold;
}