#about_screen {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(128, 141, 214);
    display:flex;

    /*Font*/
    font-family: 'Open Sans', sans-serif;
    color: #c3dcdf;
   
}


.resume_btn {
    font-size: 1rem;
    letter-spacing: .1rem;
    line-height: 2rem;
    border-radius: 3rem;
    padding: 0.5rem 1rem;
    margin-top: 5vh;
    background-color: #c3dcdf;
    color: rgb(128, 141, 214);
    border: none;
}

.resume_btn:hover,
.go_btn:hover {
    color: rgb(128, 141, 214);
    background-color: #b5d2d6;
    opacity: 0.8;
}

/* Styling for button to go to Travel section */
.go_btn {
    font-size: 0.8rem;
    letter-spacing: .1rem;
    line-height: 2rem;
    border-radius: 3rem;
    padding: 0.2rem 1.5rem;
    background-color: #c3dcdf;
    color: rgb(128, 141, 214);
    border: none;
    margin-top: 0.8vh;
    margin-left: 0.7rem;
}

#about_text {
    font-size:1.5em;
}
#about_trav_description {
    color: #c3dcdf;
    font-size: 1em;
}

.layer_wave {
    background-image: url('../svgs/layer_wave.svg');
}