a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    color: #7e9cce;
}


#trav_screen {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #efebdc;
    display: flex;

    /*Font*/
    font-family: 'Open Sans', sans-serif;
    margin-top: -1px;
}


#trav_header {
    color: #7e9cce;
    font-size: 2.5em;
    letter-spacing: .22rem;
    font-family: 'Poller One', cursive;
}

/*table and such */
.table-bordered {
    border: pink;
}

.round-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px !important;
    overflow: hidden;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 600px;
    height: 400px;
    letter-spacing: 0.17rem;
    border-radius: 15px;
}

td,
th {
    border: 1px solid #464646 !important;
    text-align: left;
    padding: 8px;
    margin: 0;
    /* Add this line to remove the margin */
}

th {
    color: white;
    font-weight: normal;
}

td {
    color: rgb(243, 243, 142);
    text-align: center;
}

tr {
    background-color: #5d5b5b;
}

.td-dest {
    text-align: left;
}

.trav_btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 5vh;
}

.travel_txt {
    color: #7e9cce;
    margin-top: 4vh;
    letter-spacing: .18rem;
    text-align: left;
    z-index: 5;
    font-size: 1.2em;
    margin-left: 20px;
}

.trav_btn {
    background: none;
    border: none;
    padding: 0;
    margin-top: 3vh;
}

/*removes blue box when btn is clicked */
.trav_btn:focus {
    outline: none
}

/**
 * Paper Plane
 */
.plane-container {

    width: 200px;
    margin: 10px;
    z-index: -1;
}

/*Paper Plane: Image*/
.plane {
    width: 100%;
    height: 60px;
    z-index: -1;
    opacity: 60%;
}

/*Paper Plane: Animation*/
.plane-container {
    -webkit-animation: paper-plane-scoping 2s alternate infinite;
    -moz-animation: paper-plane-scoping 2s alternate infinite;
    animation: paper-plane-scoping 2s alternate infinite;

    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes paper-plane-scoping {
    0% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }

    100% {
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        transform: translateY(100px);
    }
}

.plane {
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;

    -webkit-animation: paper-plane-soaring 4s forwards infinite;
    -moz-animation: paper-plane-soaring 4s forwards infinite;
    animation: paper-plane-soaring 4s forwards infinite;
}

@-webkit-keyframes paper-plane-soaring {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    40% {
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    50% {
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    60% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    70% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes popTable {
    0% {
        transform: translateY(-200px);
        opacity: 0%;
    }


    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

/*Table animation*/
.tableAnimate {
    animation-name: popTable;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes travelLeft {
    0% {
        transform: translateX(-300px);

    }

    100% {
        transform: translateX(0)
    }
}

.animateTravel {
    animation-name: travelLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

#trav_container {
    margin-top: -20vh;
}

@media screen and (max-width: 1240px) {
    #trav_container {
        margin-top: 8vh;
    }
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #trav_container {
        margin-top: 7vh;
    }
}